VITE_API_BASE_URL=http://localhost:8000
VITE_FIREBASE_API_KEY=AIzaSyD9VgakGnVREp_8UZrWbfuqgcd3VX_x1SA
VITE_FIREBASE_AUTH_DOMAIN=fundingwise-73a06.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=fundingwise-73a06
VITE_FIREBASE_APP_ID=1:253917031617:web:2fd1bd121781ffda92b840
VITE_FIREBASE_STORAGE_BUCKET=fundingwise-73a06.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=253917031617

